<h2>Temperature Table</h2><hr>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Maximum</th>
      <th scope="col">Minimum</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
      {{#each tempJson}}
    <tr>
      <th scope="row">{{date}}</th>
      <td>{{maxTemp}}</td>
      <td>{{minTemp}}</td>
      <td>{{avgTemp}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Moisture Table</h2><hr>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Maximum</th>
      <th scope="col">Minimum</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    {{#each moistJson}}
    <tr>
      <th scope="row">{{date}}</th>
      <td>{{maxMoist}}</td>
      <td>{{minMoist}}</td>
      <td>{{avgMoist}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Water Level Table</h2><hr>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Maximum</th>
      <th scope="col">Minimum</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    {{#each wlJson}}
    <tr>
      <th scope="row">{{date}}</th>
      <td>{{maxWl}}</td>
      <td>{{minWl}}</td>
      <td>{{avgWl}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


